.leave-container {
  width: 900px;
  margin: 40px auto;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   position: relative;
    left:200px;

}

.leave-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.leave-form {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
    
}

.form-group label {
  font-weight: 500;
  color: #444;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 80px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 200px;

 
}

button:hover {
  background-color: #0056b3;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}
