.apply-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  background: #f9fafc00;
  
}

.apply-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 
  position: relative;
    left:200px;
}

.apply-card h2 {
  text-align: center;
  color: #2b3a55;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  background: #2b3a55;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #1e2b40;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}
