.app-container {
  padding: 30px;
   width: 900px;
  margin: auto;
  position: relative;
    left: 190px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  gap: 15px;
}

.app-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.app-card h3 {
  color: #007bff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.accept-btn, .reject-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  position: relative;
  left: 8px;
}

.accept-btn {
  background-color: #28a745;
}

.reject-btn {
  background-color: #dc3545;
}

.accept-btn:disabled, .reject-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
