.search-container {
  width: 800px;
  margin: 60px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  position: relative;
  left: 300px;
}

h2 {
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

.search-box {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
  margin-bottom: 20px;
}

.search-box input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-box button {
  padding: 10px 16px;
  border: none;
  background: #007bff;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background: #0056b3;
}

.error {
  color: red;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.result-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.result-table th {
  background-color: #007bff;
  color: white;
}

.result-table tr:nth-child(even) {
  background-color: #f8f9fa;
}
