.employee-attendance-container {
  width: 900px;
  margin: 40px auto;
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     position: relative;
    left: 220px;
}

.employee-attendance-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 8px 12px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-bar button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.table-wrapper {
  overflow-x: auto;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.attendance-table th,
.attendance-table td {
  padding: 10px 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.attendance-table th {
  background-color: #7c7c7c;
  font-weight: 600;
}

.status-present {
  color: #22c55e;
  font-weight: 600;
}

.status-leave {
  color: #eab308;
  font-weight: 600;
}

.status-absent {
  color: #ef4444;
  font-weight: 600;
}

.loading,
.error,
.no-data {
  text-align: center;
  color: #555;
  margin-top: 20px;
}
